* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #342E37;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.home {
    position: relative;
    height: 98vh;
    width: 100%;
    background-image: url(./images/5120x2133-crop-90-santis-2801963_1920.1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 5%;

}

.home::before {
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(52, 46, 55, 0.5);
    /*Add opacity to the overlay */
}

header {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}

.logo {
    letter-spacing: 0.25px;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.logo span {
    color: #A2D729;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    background-color: white;
    width: 30px;
    height: 3px;
    margin: 2px 0;
    border-radius: 3px;
    transition: 0.4s;
}

nav ul li {
    font-size: 1.1rem;
    float: left;
    list-style: none;
    margin-left: 25px;
}

a {
    text-decoration: none;
    color: white;
}

.btn-resume {
    padding: 0.5rem 0.5rem;
    background-color: #A2D729;
    border-radius: 3px;
    align-content: center;
}
nav ul li a:hover {
    border-bottom: 4px solid #A2D729;
}
.resume-link a:hover
{
    border-bottom:none;
}
.main-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 30%;
}


.main-content h1 {
    font-size: 4rem;
    background: linear-gradient(to right, #CFFCFF, #AAEFDF, #9EE37D, #63C132, #358600, #AAEFDF, #CFFCFF);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.main-content h2 {
    font-size: 1.875rem;
}

.btn-started  {
    margin-top: 3rem;
}
/*footer*/

footer {
    border-top: 4px solid rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
}

.social-icons i {
    margin-left: 20px;
    cursor: pointer;
}

/*contact*/

.main-heading {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.big-heading {
    font-size: 3rem;
    opacity: 0.1;
    padding-top: 13px;
}

.heading {
    position: absolute;
    font-size: 2rem;
}

.contact-content {
    border-radius: 8px;
    margin: 30px 20%;
    background-color: #15061b;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    box-shadow: 0 1rem 1rem hsla(285, 53%, 15%, 0.16);
    overflow: hidden;

}

.contact-form div {
    position: relative;
}


.form-container {
    padding: 20px;
}

.contact-form {
    display: grid;
    gap: 2.3rem;
    grid-template-columns: repeat(2, 1fr);
}

.contact-form>textarea:nth-child(5),
.contact-form>input:nth-child(6) {
    grid-column: span 2;

}

.contact-form input,
.contact-form textarea {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 3px;
    font-size: 0.9rem;
    color: white;
    background-color: #342E37;
}

.placeholder {
    position: absolute;
    top: 7px;
    left: 8px;
    font-size: 14px;
    transition: 0.3s;
    pointer-events: none;
}

.contact-form div:focus-within .placeholder,
.contact-form input:focus + .placeholder,
.contact-form input:valid + .placeholder {
    top: -9px;
    background-color: #15061b;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

.contact-form textarea {
    resize: none;
    height: 200px;
}

.contact-form .send-btn {
    cursor: pointer;
    padding: 0.5rem 0.5rem;
    background-color: #A2D729;
    border-radius: 3px;
    align-content: center;
    text-transform: uppercase;
}

.map-container iframe {
    width: 100%;
    height: 100%;
}


/*back-to-top*/

.back-to-top
{
    background-color:#A2D729;
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    bottom:30px;
    right:32px;
    height: 45px;
    width: 45px;
    font-size: 1.8rem;
    opacity:0;
    pointer-events: none;
    transition: all .4s ;
}

.back-to-top.active-top
{
    bottom:57px;
    pointer-events: auto;
    opacity: 1;
}
/*media Quries*/

@media (max-width:1024px) {
    .contact-content {
        grid-template-columns: 1fr;
    }

    .map-container iframe {
        height: 400px;
    }

    .big-heading {
        font-size: 1.5rem;
        padding: 8px;
    }

    .heading {
        position: absolute;
        font-size: 1.1rem;
    }

    .main-content h1 {
        font-size: 2.5rem;
    }

    .main-content h2 {
        font-size: 1.5rem;
    }

    .btn-started {
        margin-top: 1.5rem;
        font-size: 12px;
    }

    .logo {
        font-size: 1rem;
    }

    .main-content {
        z-index: 1;
    }

    .hamburger-menu {
        display: flex;
    }

    nav {
        display: none;
    }

    nav ul {
        background-color: #15061b;
        border-radius: 4px;
        position: absolute;
        width: 100%;
        top: 80%;
        z-index: 10;
    }

    nav ul li {
        float: none;
        margin: 1.5rem 10px;
        font-size: 14px;
    }
    nav ul li a:hover {
        border-bottom: 2px solid #A2D729;
    }
    .active {
        display: contents;
    }

    .ham-active .bar:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
    }

    .ham-active .bar:nth-child(2) {
        opacity: 0;
    }

    .ham-active .bar:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
    }

}

@media (max-width:425px) {

    .placeholder {
        font-size: 10px;
    }

    .contact-form div:focus-within .placeholder,
    .input:focus+.placeholder {
        font-size: 8px;
    }

    .contact-content {
        margin: 30px 10%;
        gap: 0.9rem;
    }

    .form-container {
        padding: 10px;
    }

    .contact-form {
        gap: 1rem;
        grid-template-columns: 1fr;
    }

    .contact-form>textarea:nth-child(5),
    .contact-form>input:nth-child(6) {
        grid-column: span 1;
    }

    .contact-form input,
    .contact-form textarea {

        padding: 8px;
        font-size: 10px;
    }

    .contact-form textarea {
        height: 100px;
    }

    .map-container iframe {
        height: 300px;
    }

    .contact-form .send-btn {
        width: 20%;
        padding: 0.4rem 0.3rem;
    }

    .home {
        height: 88vh;
    }

    .main-content h1 {
        font-size: 1.5rem;
    }

    .main-content h2 {
        font-size: 1rem;
    }

    .btn-started {
        margin-top: 1.5rem;
        font-size: 10px;
    }

    .btn-resume {
        padding: 0.3rem 0.3rem;
    }

    nav ul li {
        font-size: 12px;
    }

    .logo {
        font-size: 13px;
    }

    .bar {
        width: 20px;
        height: 3px;
    }
}